{% extends 'base.html.twig' %}

{% block body %}
<div>
    {{ form_start(formSaison) }}
    {{ form_widget(formSaison) }}
    <button>Sauvegarder la saison</button>
    {{ form_end(formSaison) }}
</div>
{% endblock %}

{% block title %}

{% endblock %}

