{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ form_start(monForm) }}
        {{ form_widget(monForm) }}
        <button>Ajouter une serie</button>
        {{ form_end(monForm) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

