{% extends 'base.html.twig' %}

{% block title %}Liste des series{% endblock %}

{% block body %}
    <div class="series-list">
        {% for serie in liste %}
            <img src="{{ asset('img/posters/series/'~serie.image) }}"
                 alt=""
            title="{{ serie.saisons | length }} saisons">
        {% endfor %}
    </div>
{% endblock %}
